.slide, .slide100 {
  position: relative;
}

.slide100 {
  width: 100%;
  height: 100%;
}

#splashScreenContainer {
  position: fixed;
  z-index: 1;
}

#imageBehind , #imageBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.imageBackground {
  background: black url(/img/background.jpg) no-repeat center fixed;
}

.imageBackground_blurred {
  background: black url(/img/background_blurred.jpg) no-repeat center fixed;
}

#coordContainer {
  position: absolute;
  left: 55%;
  top: 60%;
  font-family: 'Aaargh';
  display: none;
}

#coordContainer a {
  display: inline-block;
  border-bottom: 1px solid white;
  font-size: 7vmin;
  line-height: 1em;
  white-space: nowrap;
  text-decoration: none;
}

#coordContainer a, #coordContainer a:active, #coordContainer a:hover, #coordContainer a:visited {
  color: white;
}

#coordContainer a:last-of-type {
  margin-top: .2em;
}

#thumbContainer {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  z-index: 2;
}

.thumb {
  border: 1px solid black;
  width: 160px;
  height: 160px;
  margin: 16px;
  opacity: .9;
}

.thumb:hover {
  opacity: 1;
}

#usContainer {
  background-color: black;
  display: flex;
  align-items: flex-end;
}

#usImg {
  width: 100%;
}