#closePhoto {
  border: .1em solid white;
  border-radius: .85em;
  color: white;
  font-size: 1.5em;
  height: 1.5em;
  left: 1em;
  line-height: 1.5em;
  position: fixed;
  text-align: center;
  top: 1em;
  width: 1.5em;
  box-sizing: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#closePhoto:hover {
  -webkit-box-shadow: 0 0 .5em yellow;
  -moz-box-shadow:0 0 .5em yellow;
  box-shadow:0 0 .5em yellow;
}

#prevPhoto {
  left: 1.25em;
}

#nextPhoto {
  right: 1.25em;
}

#prevPhoto, #nextPhoto {
  color: white;
  font-size: 1.5em;
  height: 1em;
  line-height: 1em;
  margin-top: -.5em;
  position: fixed;
  top: 50%;
}

#prevPhoto:hover, #nextPhoto:hover {
  text-shadow: yellow 0 0 .5em;
}