#closePhoto {
  top: 1em;
  right: 1.25em;
}

#prevPhoto {
  left: 1.25em;
}

#nextPhoto {
  right: 1.25em;
}

#prevPhoto, #nextPhoto {
  height: 1em;
  margin-top: -.5em;
  top: 50%;
}

.control:hover {
  text-shadow: yellow 0 0 .5em;
}

.control {
  position: fixed;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0;
  -webkit-transition-property:  opacity;
  -moz-transition-property:  opacity;
  -o-transition-property:  opacity;
  transition-property:  opacity;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controlVisible {
  opacity: 1 !important;
}