.disappearingElement {
  opacity: 0;
  -webkit-transition-property:  opacity;
  -moz-transition-property:  opacity;
  -o-transition-property:  opacity;
  transition-property:  opacity;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}

.disappearingElement_visible {
  opacity: 1 !important;
}

.control {
  position: fixed;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control:hover {
  text-shadow: yellow 0 0 .5em;
}

#closePhoto {
  top: 1em;
  right: 1.25em;
}

#prevPhoto {
  left: 1.25em;
}

#nextPhoto {
  right: 1.25em;
}

#prevPhoto, #nextPhoto {
  height: 1em;
  margin-top: -.5em;
  top: 50%;
}

#caption {
  position: fixed;
  left: 50%;
  bottom: 1em;
  transform: translateX(-50%);
  padding: .25em;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'AC Line';
  color: white;
}

#caption a, #caption a:active, #caption a:hover, #caption a:visited {
  color: white;
}