* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  background-color: black;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#splashScreenBehind , div#splashScreenBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black url(/img/lamp.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#thumbnailsArea {
  position: absolute;
  top: 100%;
  width: 100%;
  min-height: 100%;
  text-align: center;
}

ul#menu {
  margin: 0;
  width: 100%;
  padding-top: 1em;
}

ul#menu.stick {
  position: fixed;
  top: 0;
}

ul#menu li {
  display: inline-block;
  color: white;
  width: 10em;
  font-size: 1.5em;
}